body {
    margin: 0; 
    padding: 0;
}

#wrapper {
  width: 90%;
  margin: 0 auto;
}

#cart_content {
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #060;
  background-color: #ccc;
  height: 180px;
}

.cards-box {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.item_box {
  border: 1px solid #999;
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

img {
  display: block;
  width: 300px;
  height: 300px;
}

.shopping_list {
	width: 100%;
  margin-top: 10px;
	border-collapse: collapse;
}

.shopping_list td,
.shopping_list th {
	padding: 10px;
	border: 1px solid #AAAAAA;
}